/********************fonts********************************/
@font-face {
    font-family: yapari;
    src: url(./fonts/YapariTrial.0d9cb5b7aedc8c5121aa.ttf);
}
@font-face {
    font-family: outfit;
    src: url(./fonts/outfit.ttf);
}

/********************common-css********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}
.font-yapari{font-family: yapari;}
.clearfix{clear: both;}
.fleft {float: left;}
.fright { float: right;}

.lh-2{line-height: 3vw;}
.lh-1{line-height: 2vw;}

.bdr-none{border-style: none;}
.bdr-radius{border-radius: 20px;}
.bdr-radius2{border-radius: 60px;}
.bdr-radius3{border-radius : 120px }
.cmn-bdr{border: 2px solid white;}


.btn:hover{background-color: #97ECD5; color: #000; cursor: pointer;}
a{text-decoration : none;}
.box:hover{ background-color : #7e48be; color : #fff; cursor: pointer;}



/********************color-theme********************************/

.bg-blue {background-color: #8338dc;}
.bg-white { background-color: #ffffff;}
.bg-black { background-color: #000000;}

.color-white {color: #fff;}
.color-black { color: #000000;}
.color-blue{color:#0071BC}
.color-gray{color: #464141;}
.cont-color{background-color :#EDE9F2}

/********************common-heights********************************/

.h-25 {  height: 25vh;}
.h-35 { height: 35vh;}
.h2-100{height : 95%}
.h-100 { height: 100vh;}
.h-100 {  height: 100vh;}
.h-150{height : 135vh;}
.h2-20{height : 30%;}
.h-90{height: 90vh;}
.h-5{height: 5vh;}
.h-10{height: 8vh;}
.h-20{height: 20vh;}

/********************common-width********************************/

.w-15{width: 15vw;}
.w-30{width: 31.4vw;}
.w-45{width: 43vw;}
.w-55{min-width: 49.4vw;}
.w-35{width: 35vw;}
.w-50{width : 49.5vw;}
.w-40{width : 36vw; }
.w-25{width : 19.75vw; }
.w-20{width : 13vw; }
.w-8{width : 9vw; }
.w-5{width : 5vw;}
.w-94{width: 92vw;}
.w-98{width: 98vw;}
.w2-98{width: 98.9vw;}
.w2-85{width : 93%;}
.w-100 {width: 100vw;}

/* .lh-2{line-height : 2.3vw;} */
/********************common-padding********************************/

.p-2 {  padding: 2vw;}
.p-4 {  padding: 2vw;}
.pt-3{padding-top : 5vw}
.pt-10{    padding-top: 15vw;}
.pb-8{    padding-bottom: 8vw;}
.p-5{    padding: 5vw;}
.p-2{    padding: 2vw;}
.pl-1{padding-left: 1vw;}
.p-1{padding: 1vw;}
.p-1{padding: 1.5vw;}
.pl-2{padding-left: 2vw;}
.pt-2{padding-top: 2vw;}
.pb-2{padding-bottom: 2vw;}
.pt-1{padding-top: 0.85vw;}
.pb-1{padding-bottom: 0.85vw;}
.pr-2{padding-right: 2vw;}
.pl-15{padding-left: 15vw;}
.pl-2{padding-left: 2vw;}
.pl-3{padding-left: 3vw;}
.pl-5{padding-left: 5vw;}

/********************common-margin********************************/

.m-a{margin : auto;}
.mt-1{margin-top: 0.6vw;}
.mt-4{margin-top: 4vw;}
.mt-10{margin-top: 10vw;}
.ml-2 {margin-left: 1.3vw;}
.mr-6 {margin-right: 6vw;}
.ml-4{margin-left: 4vw;}
.mrb-2{margin-right: 2vw; margin-bottom: 2vw;}
.ml-32{margin-left: 32vw;}
.ml-35{margin-left: 36vw;}
.ml-25{margin-left: 22vw;}
.ml-30{margin-left: 29vw;}
.ml-27{margin-left: 27vw;}
.ml-15{margin-left: 12vw;}
.ml-10{margin-left: 9.5vw;}
.mt-2{margin-top: 2vw;}
.mr-1{margin-right: 1vw;}
.mb-1{margin-bottom: 1vw;}
.ml-18{margin-left : 18vw}

/********************font-size********************************/

.font-size-4{font-size: 3vw;}
.font-size-5{font-size: 4.2vw;}
.font-size-6{font-size: 1.8vw;}
.font-size-1{font-size: 1.3vw;}
.font-size-0{font-size: 0.7vw;}
.font-size-01{font-size: 1vw;}
.font-size-3{font-size: 1.5vw;}
.font-size2-3 {font-size: 2vw}
.font-size-2 {  font-size: 1.2vw;}

.font-bold{font-weight : bold;}
.font-bold2{font-weight: 700;}
.font-bold3{font-weight: 500;}

/********************header-css********************************/


.logo {width: 25vw;  height: 50vh;  border-radius: 50%;  position: absolute;  top: -30%;  left: -5%;  z-index: 0;  rotate : 50deg;  }
header img { position: relative;  height: 3vw;  z-index: 2;}
nav ul li{list-style: none;}
.vl {  border-left: 3px solid ;  height: 3vw;}

/********************main-css********************************/
main {    background-image: url(./pattern.png);    background-size: cover;    height: 876px;    margin-top: -191px; }

/********************about-us-css********************************/


.about-us-img{ width: 35vw; height: 80vh; overflow : hidden;}
.about-us-img img{object-fit: cover; width: 100%; height: 100%; }
.about-us{position: relative;}
.experience{position: absolute; top: 6vw; box-shadow:2px 2px 2px 2px #aaaaaa; right: 36vw; z-index: 10;}

/*********************************verka-section***************************/

.verka{position: relative;}
.verka::after{    content: "@";    position: absolute;    top: 1vw;    font-size: 0.9vw;}

/*******************************************contact-sectionn******************/

.right-contact form .name input{    width : 45%;	height: 20%;}

/*******************************************about-ceo--sectionn******************/

.main-img{position: relative; z-index: 2;}
.main-img img{position: relative; z-index: 2; width: 20vw; object-fit: cover; object-position: top;}
.img-content{width: 22vw; position: absolute; z-index: 1; top: 9vw; left: 24vw;}
.section-7 {background:url(ceo-bg-img.png); background-position:50%; background-repeat:no-repeat; background-size:cover; background-color:#8338dc;}